
<head>
    <title>PAINT</title>
</head>


<body >


  <canvas  #canvas width="1000" height="500" style="border:2px solid;"></canvas>



    <img style="position:absolute;top:10%;left:42%;" style="display:none;">
    <div class="shapes">
    <table style="width: 100px;">
      <h1 >Choose color  </h1>
    <tr>

      </tr>
      <tr>
      <td style="background:green; width: 20px; cursor: context-menu;" title="green"  (click)="color('green')"></td>
      <td style="background:blue;cursor: context-menu;" title="blue"  (click)="color('blue')"></td>
      <td style="background:red;cursor: context-menu;" title="red"  (click)="color('red')"></td>
      <td style="background:yellow;cursor: context-menu;" title="yellow"  (click)="color('yellow')"></td>
      <td style="background:orange;cursor: context-menu;" title="orange"  (click)="color('orange')"></td>
      <td style="background:black;cursor: context-menu;" title="black"  (click)="color('black')"></td>
      </tr>

        <div><h1>Select Shape</h1></div>

      <tr>

      </tr>

      <tr>
      <td class="rect" title="rectangle" (click)="rectangle()">&#9645;</td>
      <td class="rect" title="square" (click)="square()">&#9633;</td>
      <td class="rect" title="circle" (click)="circle()">&#9711;</td>
      <td class="rect" title="ellipse" (click)="ellipse()">&#11055;</td>
      <td class="rect" title="triangle" (click)="triangle()">&#9651;</td>
      <td class="rect" title="line" (click)="line()">─</td>
    </tr>
    <tr>

    </tr>
    <tr> <h1>Editor</h1>
    </tr>
    <td class="move" (click)="move()">move</td>
    <td class="copy"  (click)="copy()">copy</td>
    <td class="resize"  (click)="resize()">resize</td>
    <td class="save"  (click)="clearCanvas()">clear</td>
    <td class="save"  (click)="undo()">Undo</td>
    <td class="save"  (click)="redo()">Redo</td>
    </table>
    <tr>

    </tr>
  </div>

    <div style="position:absolute;top:70%;left:5%;" >
      <h1>Choose file to load</h1>
     <input type="text" #ff/>
     <button class ="save" (click)=Load(ff.value)>Load</button>
    </div>


  <div style="position:absolute;top:70%;left:35%;">
    <h1>Enter a path to save your file</h1>
    <select  #type>
      <option >xml</option>
      <option >json </option>
      </select>
   <input type="text" #URL/>
   <button class ="save" (click)=save(URL.value,type.value)>Save</button>
  </div>


  </body>
